.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}

.guest-table {
  margin-top: 20px;
  table-layout: auto !important;
  width: auto !important;
}

.form-group {
  margin-bottom: 10px;
}

.btn-primary {
  margin: 10px;
  background-color: #ff99cc !important;
  border-color: #e67ab0 !important;
  color: #333;
}

.btn-primary:hover {
  border-color: #c46e99 !important;
  color: black !important;
}

.btn-danger {
  background-color: hotpink !important;
  border-color: #cccccc;
  color: #333;
}

.btn-danger:hover {
  border-color: #b3b3b3;
  color: black !important;
}

.btn-light-pink {
  background-color: #f7b5f6 !important;
  border-color: #d690d5 !important;
  color: white !important;
}

.btn-light-pink:hover {
  border-color: #ba77b9 !important;
  color: black !important;
}

.btn-container {
  display: flex;
  gap: 5px;
}
